@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --primary-color: #1ba0d8;
    --secondary-color: #f69614;
    --primary-baground-color: #a4d3e6;

    --school-primary-color: green;

    --success-color: #4fd26b;
    --info-color: #2d88ea;
    --warning-color: #f9c325;

    --box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(225, 225, 225, 0.7);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-shadow: none;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html {
    font-size: 16px;
    scroll-behavior: smooth !important;
    transition: all 0.5s ease;
}

body {
    background-color: var(--primary-baground-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.primary-s-color {
    color: var(--school-primary-color);
}


/* -------------- PDF a4 size page start ---------------- */
.a4-size-pdf {
    width: 211mm;
    height: 296.8mm;
    position: relative;
    background-color: white;
}

.pdf-holder {
    transform: scale(0.5) translateY(-50%);
    position: absolute;
    top: 0%;
}

@media only screen and (max-width: 757px) {
    .pdf-holder {
        transform: scale(0.4) translateY(-78%);
        position: absolute;
        top: 0%;
    }
}
/* -------------- PDF a4 size page ends ---------------- */



/* -------------- Transfer Certificate css ------------------ */
.transfer-certificate-holder {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transfer-certificate-holder::before {
    position: absolute;
    content: '';
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border: 3px solid var(--school-primary-color);
}

.transfer-certificate-holder::after {
    position: absolute;
    margin: 6px;
    content: '';
    width: calc(100% - 52px);
    height: calc(100% - 52px);
    border: 1px solid var(--school-primary-color);
}

.transfer-certificate-content {
    position: relative;
    margin: 10px;
    width: 100%;
    height: 100%;
    max-width: calc(100% - 10px);
    max-height: calc(100% - 20px);
}

.pdf-pattern {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    font-size: 6px;
    text-transform: uppercase;
    justify-content: space-between;
    opacity: 0.2;
    color: var(--school-primary-color);
}

.background-logo-holder {
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-logo-holder img {
    width: 400px;
    height: auto;
    opacity: 0.1;
}

.pdf-logo img {
    width: 100px;
}

.pp-holder {
    width: 100px;
    height: 100px;
    border: 1px dashed var(--school-primary-color);
    position: relative;
}

.pp-holder img {
    position: absolute;
}

.cursive {
    font-family: "Charm", cursive;
    font-size: 18px;
    line-height: 40px;
    color: var(--school-primary-color);
}

.transfer-certificate-content h2 {
    font-weight: 900;
    font-family: Libre Baskerville, serif;
}

.pdf-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.sign-box small {
    border-top: 1px solid var(--school-primary-color);
    width: 200px;
    color: var(--school-primary-color);
    height: 20px;
    text-align: center;
}

.dot-blank {
    border-bottom: 1px dotted var(--school-primary-color);
    display: inline-block;
    margin-bottom: -2px;
}

/* -------------- Transfer Certificate end ------------------ */